{% extends "layout.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #empty-form{
            display:none
        }
    </style>
</head>
<body>
    <body>
        <div class = "container-fluid pt-3 px-2" style="max-width:850px">
            {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message }}
              </div>
                {% endfor %}
            {% endif %}
            <div class = "row mt-1" >
                    <div class = "title d-flex justify-content-center border-bottom border-dark" id = "title">Advanced Search</div>
            </div>
            <div class = "row">
                <p class = "lead flex d-flex py-3 justify-content-center">Find specific stocks that interest you</p>
            </div>  
        </div>

        <div class = "container-fluid" style ="width: 37%">
            <div class = "bruh" id = "empty-form">{{formset.empty_form}}</div>
            <div class = "row">
                <div class="text-center mb-3 mt-5">
                    <button type="submit" class="btn btn-success mb-2 " id="add-more" style = "width: 45px; text-align:center">+</button>
                    <button type="submit" class="btn btn-danger mb-2 " id="remove" style = "width: 45px; text-align:center">-</button> 
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div id = "append">
                    {{ formset.management_form }}  
                    <div class = "d-flex flex-row justify-content-center bd-highlight mb-3" id = "firstForm"> 
                       Search only for Today?&nbsp; 
                       <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        
                      </div>
                    </div>
                    <div class = "d-flex flex-row justify-content-center bd-highlight mb-5" id = "firstForm"> 
                        {{ formset.0.primary }}   {{ formset.0.symbol }}   {{ formset.0.secondary }}  
                    </div>
                </div>
                <div class="text-center mb-3">
                    <button type="submit" value="Submit" id="submit"class="btn btn-primary mb-2 " id="remove" style = " text-align:center">Search</button> 
                </div> 
            </form>
        </div>

        <script>
            var counter = 0
            const addMoreBtn = document.getElementById('add-more')
            addMoreBtn.addEventListener('click',add_new_form)
            const submitBtn = document.getElementById('submit')
            submitBtn.addEventListener('click',on_submit)
            const removeBtn = document.getElementById('remove')
            removeBtn.addEventListener('click',delete_form)

            function on_submit(event){
                document.getElementById('id_form-TOTAL_FORMS').setAttribute('value',counter+1)

            }
            function delete_form(event){
                const div =  document.querySelectorAll('.container-fluid .add')
                var last = div[div.length- 1];
                last.remove()
                if (counter > 0){
                    counter -= 1
                }
            }
            function add_new_form(event){
                if(event){
                    event.preventDefault()
                }
                counter += 1
                const form = document.getElementById('empty-form').cloneNode(true)
                form.setAttribute('class',"d-flex flex-row justify-content-center bd-highlight mb-5 add")
                form.setAttribute('name','password')
                const append = document.getElementById('append')
                form.firstChild.setAttribute('name','form-'+counter.toString()+'-primary')
                form.children[1].setAttribute('name','form-'+counter.toString()+'-symbol')
                form.children[2].setAttribute('name','form-'+counter.toString()+'-secondary')
                append.append(form)
            }
        </script>
    </body>
    </html>
</body>
</html>
{% endblock %}