{% extends "layout.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <input type="hidden" id="myVar" name="variable" value="{{ list }}">
    <title>Favorites</title>
</head>
    <!-- <style>
        div.dataTables_wrapper{
            width:800px;
            margin: 0 auto;
        }
    </style> -->
<div class = "container-fluid" style ="width: 65%">
    <div class = "row">
        <div class = "col-12" >
            <div class = "row mt-2 mb-5">
                <div class = "title d-flex justify-content-center border-bottom" id = "title">Favorites</div>
            </div>
        </div>
        <div class = "col">
            <table id="table" class="display" ></table>
        </div>
    </div>
</div>

<script>
    var store = [];
    "{% for ticker in list %}"
        store.push(["{{ ticker.0 }}","{{ ticker.1 }}","{{ ticker.2 }}","{{ ticker.3 }}","{{ticker.4}}"]); 
    "{% endfor %}"
    var tabledata = [];
    for(var x in store){
        tabledata.push([link(store[x][0]), "$"+store[x][1],"$"+store[x][3], "$"+store[x][2], "$"+store[x][4]]);
    }
    $(document).ready( function () {
        var dataSet = tabledata;
            $(document).ready(function () {
                $('#table').DataTable({
                    // "bAutoWidth": false,
                    "rowCallback": function( row, data ) {
                      
                        if (Math.fround(data[4].substring(1,data[4].length)) < Math.fround(data[3].substring(1,data[3].length))){
                            $('td', row).css('background-color', 'Red');
                        }
                        if (Math.fround(data[4].substring(1,data[4].length)) > Math.fround(data[1].substring(1,data[1].length))){
                            $('td', row).css('background-color', 'Green');
                        }
                    },
                    data: dataSet,
                    columns: [
                        { title: 'Ticker',"width": "10%" },
                        { title: 'High Estimate',"width": "20%" },
                        { title: 'Median Estimate',"width": "20%" },
                        { title: 'Low Estimate.',"width": "20%" },
                        { title: 'Real Price',"width": "20%"},
                    ],
                });
            });
    });
    function link(url){
        return "<a style =\"color:black\" href='/polls/index/"+url+"' >"+url+"</a>";
    }
</script>
</html>
{% endblock %}

