{% extends "layout.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<head>
<html lang="en">
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
	  <meta id="sal" data-name="{{languages}}" data-other="{{languages}}">
</head>
<body>        
  <form action={% url 'polls:ticker'  %} style="text-align:center" onsubmit="return validateForm()" method="GET" id ="results" > {% csrf_token %}
    <input type="text" id="tags" name = "searchbar" autocomplete="on" >
    <input type="submit">
    <div class = "d-inline">
      <div class = "container-fluid" id = "first-container">
        <div class = "row mt-5" id = "row">
          <div class = "col" id ="columns" > 
    <script> 
      var availableTags = [
          {% for language in languages %}
              "{{language}}",
          {% endfor %}
      ];
      $( "#tags" ).autocomplete({
        
        source: availableTags,
        minLength: 2
      });
      function validateForm() {
        var y = document.getElementById("sal").getAttribute('data-name');
        var x = document.forms["results"]["searchbar"].value.toUpperCase();
        var z = y.replaceAll("'", "").replaceAll("[","").replaceAll("]","").replaceAll(" ","");
        var store = z.split(',');
        if (x == "") {
          alert("Please enter a valid ticker");
          return false;
        }
        if(!(store.includes(x))){
            alert("Please enter a valid ticker");
            return false;
        }
      }
      window.onload = init;
      function init(){
          var table = document.getElementById("first-table");
          "{% for ticker in tableData %}"
              var row = table.insertRow(0);
              var x = row.insertCell(0);
              var y = row.insertCell(1); 
              x.innerHTML = "<a style =\"color:white\" href='/polls/index/"+"{{ticker.0}}"+"' >"+"{{ticker.0}}"+"</a>";"{{ticker.0}}";
              y.innerHTML = "$"+"{{ticker.1}}";
          "{% endfor %}"
          var header = table.createTHead();
          var row = header.insertRow(0);
          var y = row.insertCell(0);
          var z = row.insertCell(0);
          z.innerHTML = "Ticker";
          y.innerHTML = "High Estimate";
          var table = document.getElementById("second-table");
          "{% for ticker in realPrice %}"
              var row = table.insertRow(0);
              var x = row.insertCell(0);
              var y = row.insertCell(1); 
              x.innerHTML = "<a style =\"color:white\" href='/polls/index/"+"{{ticker.0}}"+"' >"+"{{ticker.0}}"+"</a>";"{{ticker.0}}";
              y.innerHTML = "$"+"{{ticker.1}}";
          "{% endfor %}"
          var header = table.createTHead();
          var row = header.insertRow(0);
          var y = row.insertCell(0);
          var z = row.insertCell(0);
          z.innerHTML = "Ticker";
          y.innerHTML = "Real Price";
      }
    </script>
  </form>
<div class = "d-inline">
  <div class = "container-fluid" id = "first-container">
    <div class = "row mt-5" id = "row">
      <div class = "col">
        <div class = "row d-flex justify-content-center" id = "table-title">Top 10 Stocks with Highest Estimates</div>
        <table class="table table-striped table-dark" id = "first-table">
        </table>
      </div>
      <div class = "col">
        <div class = "row  justify-content-center" id = "table-title">Top 10 Stocks with Highest Real Price</div>
        <table class=" table table-striped table-dark " id = "second-table">
        </table>
      </div>
    </div>
  </div>
  <div class = "container-fluid" id = "first-container"></div>
</div>
<!-- <h2>Largest Stock Price Estimate : 	{{ large }} </h2> -->
</body>
</html>
{% endblock %}