{% extends "layout.html" %}
{% load static %}
{% block content %}
{% load polls_template-filters %}

<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
{% if alert %}

<div class="alert alert-success alert-dismissible fade show" style="text-align:center">
    <strong>Success!</strong> Your account has been created
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endif %}
<form method="POST" action="">
<div class="row d-flex justify-content-center pt-5" >

    <div class="content-section mb-4" style="text-align:center" >
        <legend class="border-bottom mb-4">Login</legend>
        <div class="form-group  mb-4">
            {{form.username}}
            {% if form.errors %} 
                <div class="alert alert-danger">
                    {{form.non_field_errors.as_text|cut:"*"  }}
                </div>
            {% endif %}
        </div>
        <div class="form-group mb-4">              
            {% if form.password.errors %}
                {{ form.password|add_attr:"form-control is-invalid" }}
                <div class="alert alert-danger">
                    {{ form.password.errors.as_text|cut:"*" }}
                </div>
            {% else %}
                {{form.password}}
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary mb-2" >Login</button>
    </div>
</div>
{% csrf_token %}
</form>
{% endblock %} -->
