{% extends "layout.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    
    <a href={% url 'polls:favorites' stock %} id = "link" ></a>
    <style type="text/css" >
        .chartBox{
            width: 1000px;
            margin:auto;
        }
    </style>
    <meta id="stock" data-name="{{stock}}">
    <meta id="high" data-name="{{high}}">
    <meta id="low" data-name="{{low}}">
    <meta id="median" data-name="{{median}}">  
  </head>

  <body>
    <div class="container-fluid" style = "max-width: 1550px" >
      <div class="row pt-4 text-center" style = "margin:auto">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      </div> 
      <div class = "row" style="text-align:center">
        <div class = "col">
          {% if rating|stringformat:'s' == "Buy" %}
            <span class="bi bi-arrow-up" data-toggle="tooltip" data-placement="top" title="Buy Rating from {{annalysts}} annalysts" style='cursor:pointer;font-size:42px; color:rgb(15, 153, 21);'></span>
          {% elif rating|stringformat:'s' == "Sell" %}
            <span class="bi bi-arrow-down" data-toggle="tooltip" data-placement="top" title="Sell Rating from {{annalysts}} annalysts" style='cursor:pointer;font-size:42px; color:rgb(199, 15, 15);'></span>
          {% elif rating|stringformat:'s' == "Outperform" %}
            <span data-toggle="tooltip" data-placement="top" title="Outperform Rating from {{analysts}} annalysts" style='font-size:48px;color:rgb(81, 240, 88);'>&#8673;</span>
          {% elif rating|stringformat:'s' == "Underperform" %}
          <span data-toggle="tooltip" data-placement="top" title="Underperform Rating from {{annalysts}} annalysts" style='font-size:48px;color:rgb(214, 62, 62);'>&#8675;</span>
          {% elif rating|stringformat:'s' == "Hold" %}
          <span class="bi bi-circle-fill" data-toggle="tooltip"  data-placement="top" title="Hold Rating from {{annalysts}} annalysts" style='font-size:40px;color:rgb(119, 119, 119);'></span>
          {% endif %}
          <label for="star" id = "fav" data-url={% url 'polls:favorites' stock %}  class="custom-checkbox" > 
            {{ stock }}
            {% if filter %}
              <input type="checkbox" id="star" checked/>
            {% else %}
              <input type="checkbox" id="star"/>
            {% endif %}
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star"></i>
          </label>
        </div>
      </div>
      <div class="row flex justify-content-center" >
        <!--Grid column-->
        <div class = "col-md-2" style = "visibility: hidden;" >
        </div>
        <div class="col-6 pt-2" >
          <div id="header"><a href="https://money.cnn.com/quote/forecast/forecast.html?symb={{stock}}" style = "color:black">{{stock}}'s</a> stock price has been less than or equal to its low estimate for <b>{{ list.lesser }}</b> days, higher than or equal to its high estimate for 
            <b>{{ list.greater }}</b> days, and in between its low and high estimate for <b>{{ list.middle }}</b> days. <br>
          </div> 
        </div>
        <!--Grid column-->
        <div class = "col-md-2 pull-right" style = "width:300px;" >
          <canvas id="pie-chart"></canvas>
      </div>
    </div>
  </div>

    <div class="container-fluid" style="max-width:1100px; ">
   
      <div class = "row mb-5" style = "margin:0;">
        <div class = "col mb-3">
          <div class = "chartBox">
            <canvas id="myChart"></canvas> 
          </div>
        </div>
        <div class = "row">
          <div class = "chartBox" >
            <canvas id="barChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </body>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})


  const ctx = document.getElementById('myChart').getContext('2d');
  const dtx = document.getElementById('barChart').getContext('2d');
  var stock = document.getElementById("stock").getAttribute('data-name');
  var high = "{{barChart.0}}";
  var low = "{{barChart.1}}";
  var median = "{{barChart.2}}";

  var lineHigh = "{{lineGraph.0|safe}}";
  lineHigh = lineHigh.replaceAll("'", "").replaceAll("[","").replaceAll("]","").replaceAll(" ","");
  lineHigh = lineHigh.split(",");
 
  console.log(lineHigh)
  var lineLow = "{{lineGraph.1}}";
  lineLow = lineLow.replaceAll("'", "").replaceAll("[","").replaceAll("]","").replaceAll(" ","");
  lineLow = lineLow.split(",");
  var lineMedian = "{{lineGraph.2}}";
  lineMedian = lineMedian.replaceAll("'", "").replaceAll("[","").replaceAll("]","").replaceAll(" ","");
  lineMedian = lineMedian.split(",");
  var real = "{{lineGraph.3}}";
  real = real.replaceAll("'", "").replaceAll("[","").replaceAll("]","").replaceAll(" ","");
  real = real.split(",");
  var lineDate = "{{lineGraph.4|safe}}";
  lineDate = lineDate.replaceAll("'", "").replaceAll("[","").replaceAll("]","").replaceAll(" ","");
  lineDate = lineDate.split(",");


  $('#fav').click(function() {
    var url = $("#fav").attr("data-url");
    document.location.href = url
  });


const barChart = new Chart(dtx, {
    type: 'bar',
    
    data: {
        labels: ['High Estimate', 'Low Estimate', 'Median Estimate'],
        datasets: [{
            label: 'Stock Price',
            data: [high, low, median],
            fillOpacity: .3,
            backgroundColor: [
                "#1FA82A",
                '#FF0000',
                "#0000FF",
            ],
            borderColor: [
                "#1FA82A",
                '#FF0000',
                "#0000FF",
            ],
            fillOpacity : .3,
            borderWidth: 2
        }]
    },
    options: {
        scales: {
          y: {
                ticks: {
                    // Include a dollar sign in the ticks
                    callback: function(value, index, ticks) {
                        return '$' + value;
                    }
                }
            }
        },
        legend: {
            display: false
        },  
        plugins: {
            title: {
              font: {
                size: 25
              },
            fontStyle: 'bold',
            display: true,
            text: 'Today\'s Price Forecast for ' + stock
            }
        }
    }
});

options: {
        
    }
const myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: lineDate,
    datasets: [{ 
        data: lineHigh,
        label: "High Estimate",
        borderColor: "#1FA82A",
        fill: false
      }, { 
        data: lineLow,
        label: "Low Estimate",
        borderColor: "#FF0000",
        fill: false
      }, { 
         data: real,
         label: "Real Price",
         borderColor: "#000000",
         fill: false
       }, 
       { 
         data: lineMedian,
         label: "Median Estimate",
         borderColor: "#0000FF",
         fill: false
       },
    ]
  },
  options: {
    plugins:{
            title: {
                font: {
                  size: 25
                },
                fontStyle: 'bold',
                display: true,
                text: 'CNN Prediction of ' + stock + " over time"
            }
        },
    scales: {
        y: {
          ticks: {
              // Include a dollar sign in the ticks
              callback: function(value, index, ticks) {
                  return '$' + value;
              }
          }
      }
   }
  }
});

new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: ["Higher than High Estimate", "Lower than Low Estimate", "Between High and Low Estimates"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ["#1FA82A", "#FF0000","#0000FF"],
        data: ["{{list.greater}}","{{list.lesser}}","{{list.middle}}"]
      }]
    },
    options: {
      title: {
        display: true,
        
      }
    }
});

</script>
</html>
{% endblock %}
