{% extends "layout.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
      <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>

      <a href={% url 'polls:favorites' stock %} id = "link" ></a>
      <style type="text/css" >
          .chartBox{
              width: 900px;
              margin: auto;
          }
      </style>
      <meta id="stock" data-name="{{stock}}">
      <meta id="high" data-name="{{high}}">
      <meta id="low" data-name="{{low}}">
      <meta id="median" data-name="{{median}}">  
  </head>

  <body style="text-align:center">
    <div role="main" class="container" id = "bruh">
      <div class="row">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
      </div>
      
        <label for="star" id = "fav" data-url={% url 'polls:favorites' stock %}  class="custom-checkbox" > {{stock}}
          {% if filter %}
            <input type="checkbox" id="star" checked/>
          {% else %}
            <input type="checkbox" id="star"/>
          {% endif %}
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
        </label>
      <!-- <div class = "row">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> -->
      <div class = "row">
        <div id="header">{{stock}}'s stock price has been less than or equal to its low estimate for <b>{{ list.lesser }}</b> days, higher than or equal to its high estimate for 
          <b>{{ list.greater }}</b> days, and in between its low and high estimate for <b>{{ list.middle }}</b> days.
        </div>
        <div class = "container mb-5">
          <div class = "chartBox mb-5">
            <canvas id="myChart"></canvas> 
          </div>
          <div class = "chartBox mb-5">
            <canvas id="barChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </body>
<script>



  const ctx = document.getElementById('myChart').getContext('2d');
  const dtx = document.getElementById('barChart').getContext('2d');
  var stock = document.getElementById("stock").getAttribute('data-name');
  var high = "{{barChart.0}}";
  var low = "{{barChart.1}}";
  var median = "{{barChart.2}}";

  var lineHigh = "{{lineGraph.0|safe}}";
  lineHigh = lineHigh.replaceAll("'", "").replaceAll("[","").replaceAll("]","").replaceAll(" ","");
  lineHigh = lineHigh.split(",");
  var lineLow = "{{lineGraph.1}}";
  lineLow = lineLow.replaceAll("'", "").replaceAll("[","").replaceAll("]","").replaceAll(" ","");
  lineLow = lineLow.split(",");
  var lineMedian = "{{lineGraph.2}}";
  lineMedian = lineMedian.replaceAll("'", "").replaceAll("[","").replaceAll("]","").replaceAll(" ","");
  lineMedian = lineMedian.split(",");
  var real = "{{lineGraph.3}}";
  real = real.replaceAll("'", "").replaceAll("[","").replaceAll("]","").replaceAll(" ","");
  real = real.split(",");
  var lineDate = "{{lineGraph.4|safe}}";
  lineDate = lineDate.replaceAll("'", "").replaceAll("[","").replaceAll("]","").replaceAll(" ","");
  lineDate = lineDate.split(",");


  $('#fav').click(function() {
    var url = $("#fav").attr("data-url");
    document.location.href = url
  });

const barChart = new Chart(dtx, {
    type: 'bar',
    
    data: {
        labels: ['High Estimate', 'Low Estimate', 'Median Estimate'],
        datasets: [{
            label: 'Stock Price',
            data: [high, low, median],
            fillOpacity: .3,
            backgroundColor: [
                "#1FA82A",
                '#FF0000',
                "#0000FF",
            ],
            borderColor: [
                "#1FA82A",
                '#FF0000',
                "#0000FF",
            ],
            fillOpacity : .3,
            borderWidth: 2
        }]
    },
    options: {
        scales: {
          y: {
                ticks: {
                    // Include a dollar sign in the ticks
                    callback: function(value, index, ticks) {
                        return '$' + value;
                    }
                }
            }
        },
        legend: {
            display: false
        },  
        title: {
            fontSize:20,
            fontStyle: 'bold',
            display: true,
            text: 'CNN\'s 12 Month Price Forecast for ' + stock
        },
             
    }
});


const myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: lineDate,
    datasets: [{ 
        data: lineHigh,
        label: "High Estimate",
        borderColor: "#1FA82A",
        fill: false
      }, { 
        data: lineLow,
        label: "Low Estimate",
        borderColor: "#FF0000",
        fill: false
      }, { 
         data: real,
         label: "Real Price",
         borderColor: "#000000",
         fill: false
       }, 
       { 
         data: lineMedian,
         label: "Median Estimate",
         borderColor: "#0000FF",
         fill: false
       },
    ]
  },
  options: {
    title: {
      fontSize:20,
      fontStyle: 'bold',
      display: true,
      text: 'CNN Prediction of ' + stock + " over time"
    },
    scales: {
      y: {
                ticks: {
                    // Include a dollar sign in the ticks
                    callback: function(value, index, ticks) {
                        return '$' + value;
                    }
                }
            }
   }
      
  }
});
</script>
</html>
{% endblock %}
