body {
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;

}

.title{
  font-family: inherit;
  font-weight: 500;
  padding-top : 10px;
  line-height: 1.2;
  color: inherit;
  padding: 0; 
  padding-bottom:10px;
  font-size: 47px !important;
  margin : auto;
  /* margin-left: 50px; */
  /* border: 2px solid rgb(0, 0, 0);   */
}

p{
    font-family: inherit;
    font-weight: 500;
    padding-top : 10px;
    margin : auto;
    line-height: 1.2;
    color: inherit;
}

legend{
  font-size: 40px;
  text-align: center;
}

.bg-steel {
  background-color: #775f8a;  
}

#header {
  width: 800px;
  border: 2px solid rgb(0, 0, 0);
  padding: 33px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 25px;
}

.active {
  font-weight: 700;
}

 .navbar-nav .nav-link {
  color: #ffffff !important;
  font-size: 17px !important;
}

.navbar-brand{
  font-size: 25px !important;
  
}

#fav{
  font-size: 50px;
}

.content-section {
  background: #ffffff;
  border: 1px solid #968b8ba1;
  border-radius: 12px;
  max-width : 400px;
}

#results{
  margin: 15px;
  padding-top:55px;
}

#favorite_row{
   margin-right:20PX;
   margin-left:20PX;
}

#favorite_columns{
  padding-right:0;
  padding-left:0;
}

#table-title{
  font-size: 25px;
  font-weight: 500;
}

/* All custom-checkboxes + anything below this comment are for the favorite star on a stock page */

label input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  position: relative;
  cursor: pointer;
}

.custom-checkbox .bi {
  color: rgb(253, 216, 2) !important;
  position: absolute;
  top: 0.3em;
  font-size: 0.75em;
}

.custom-checkbox .bi {
  color: rgb(12, 12, 12);
}

.custom-checkbox .bi-star-fill {
  opacity: .0;
  transition: opacity .2s ease-in-out;
}

.custom-checkbox:hover .bi-star-fill{
  opacity: 0.5;
}

.custom-checkbox input[type="checkbox"]:checked ~ .bi-star-fill{
  opacity: 1;
}