body {
  background: #fafafa;
  color: #333333;
  background-color: #ffffff;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

legend{
  font-size: 40px;
  text-align: center;
}


.bg-steel {
  background-color: #775f8a;
  
}

#header {
  width: 800px;
  border: 2px solid rgb(0, 0, 0);
  padding: 33px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 25px;
}

.active {
  font-weight: 700;
}

.site-header .navbar-nav .nav-link {
  color: #eff4f7 !important;
  font-size: 17px !important;
}

.site-header .navbar-nav .nav-link:hover {
  font-weight: 500;
  color: #eff4f7;
}

.navbar-brand{
  font-size: 25px !important;
}

.navbar {
  background-color: #242628;
  height: 70px;
  padding-left: 20px; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  position: absolute;
  bottom: 0;

}

#fav{
  font-size: 50px;
}

.content-section {
  background: #44131304;
  padding: 15px; 
  border: 1px solid #968b8ba1;
  border-radius: 12px;
  width : 400px;
}

#results{
  margin: 15px;
  padding-top:55px;
}

#first-container{
  padding: 0px;
  padding-left: 0px;
  margin-left: 0px;
}

#row{
   margin-right:0;
   margin-left:0;
}

#columns{
    padding-right:0;
    padding-left:0;
}

/* Required Styling */

label input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  position: relative;
  cursor: pointer;
}

.custom-checkbox .bi {
  color: rgb(253, 216, 2) !important;
  position: absolute;
  top: 0.3em;
  font-size: 0.75em;
}

.custom-checkbox .bi {
  color: rgb(12, 12, 12);
}

.custom-checkbox .bi-star-fill {
  opacity: .0;
  transition: opacity .2s ease-in-out;
}

.custom-checkbox:hover .bi-star-fill{
  opacity: 0.5;
}

.custom-checkbox input[type="checkbox"]:checked ~ .bi-star-fill{
  opacity: 1;
}